@use '/src/styles/variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  position: relative;

  .logo {
    height: 50px;
  }

  .nav-menu {
    display: flex;
    gap: 3rem;
    list-style: none;

    li {
      .nav-link {
        font-weight: 400;
        font-size: 16px;
        color: variables.$off-white;
        text-decoration: none;
        position: relative;
        transition:
          color 0.3s,
          font-weight 0.3s;

        &:hover {
          color: variables.$baby-blue;

          &::after {
            width: 100%;
          }
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -3px;
          height: 2px;
          width: 0;
          background-color: variables.$baby-blue;
          transition: width 0.3s ease-in-out;
        }

        &.active {
          color: variables.$baby-blue;
          font-weight: 600;

          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  /* hamburger styles */
  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    span {
      height: 3px;
      width: 25px;
      background-color: variables.$off-white;
      border-radius: 2px;
      transition: all 0.3s ease;
    }
    &.open span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 6px);
    }
    &.open span:nth-child(2) {
      opacity: 0;
    }
    &.open span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }

  /* mobile menu */
  @media screen and (max-width: 768px) {
    .nav-menu {
      position: absolute;
      top: 70px;
      right: 0;
      flex-direction: column;
      background-color: #111;
      width: max-content;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      padding: 1rem;
      gap: 1rem;
      transform: translateX(200%);
      transition: transform 0.3s ease-in-out;
      &.open {
        transform: translateX(0);
      }
    }

    .hamburger {
      display: flex;
    }
  }
}
