.projects-list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding: 3rem 0;
}

.screenshot {
  width: 40%;
}

.contents-textbuttons.right {
  text-align: end;
}

.button-stack.right {
  justify-content: end;
}

@media screen and (max-width: 850px) {
  .screenshot {
    width: 90%;
  }

  .pictextbuttons {
    padding: 1rem 0;
  }

  .pictextbuttons {
    .screenshot.right {
      order: 2;
    }

    .contents-textbuttons.right {
      order: 1;
    }
  }
}
