.projects-list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding: 3rem 0;
}

.screenshot {
  width: 40%;
}

@media screen and (max-width: 850px) {
  .screenshot {
    width: 90%;
  }

  .pictextbuttons {
    padding: 0;
  }
}

#right.contents-textbuttons {
  text-align: end;
}

#right.button-stack {
  justify-content: end;
}