@use '/src/styles/variables.scss';

.back-to-top-button {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 2rem;
  right: 0;
  color: variables.$off-white;
  font-weight: 600;
  background-color: transparent;
  border: none;
  font-size: 20px;
  column-gap: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.back-to-top-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  pointer-events: none;
  background: linear-gradient(
    to top,
    rgba(variables.$off-white, 0.5) 0%,
    rgba(variables.$off-white, 0.4) 10%,
    rgba(variables.$off-white, 0.2) 30%,
    rgba(variables.$off-white, 0.05) 60%,
    rgba(variables.$off-white, 0) 80%
  );
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.visible {
  opacity: 1;
}

.bounce-icon {
  animation: bounceUpDown 1s infinite;
}

@keyframes bounceUpDown {
  0%,
  100% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(-3px);
  }
}
